<section class="bar background-white">
    <div class="container">
      <div class="row">
  
        {{/* about, activity, staff セクションのページだけ取り出す */}}
        {{ $pages := where .Site.RegularPages "Section" "in" (slice "about" "activity" "staff") }}
        {{ $pages := sort $pages "Weight" }}
  
        {{ range $pages }}
          <div class="col-md-4 text-center">
            <div class="box-simple">
              <a href="{{ .RelPermalink }}">
                {{ if .Params.image }}
                <div class="icon mb-3">
                  <img src="{{ .Params.image | relURL }}" alt="{{ .Title }}" style="max-width:100px; margin-bottom:10px;">
                </div>
                {{ end }}
                <h3>{{ .Title }}</h3>
              </a>
              {{ if .Params.summary }}
              <p>{{ .Params.summary }}</p>
              {{ end }}
            </div>
          </div>
        {{ end }}
  
      </div>
    </div>
  </section>
  