<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
  </head>

  <body>

    <div id="all">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "features.html" . }}

        {{ partial "staff_home.html" . }}
        
         <!-- ニュース目次をここに追加 -->
         <div class="container text-center">
          <section id="latest-news">
            <div class="container text-center">
                <h2 class="title-underlined">最新のニュース</h2>
                <ul>
                    {{ range first 3 .Site.Pages }}
                        {{ if eq .Type "news" }}
                            <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
        </section>
        
        
        
      

        {{ partial "testimonials.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
